table,td,th {
    border: 1px solid black;
    text-align: center;
}

table{
    margin:auto;
    width: 80%;
    height: 80%;
}

td{
    padding:4em;
}

.center{
    padding:7em;
    margin:0 2em 0 2em;
}

.top_bottom{
    padding:2em;
}






